<label htmlFor="duration"> Duration:</label>
<div>
  <input
    placeholder="enter duration..."
    type="text"
    name="duration"
    id="duration"
    [value]="value || null"
    (input)="onInputChange($event)"
    (blur)="markAsTouched()"
  />
  <p>{{ value || 0 | formatDuration }}</p>
</div>

<!-- [value]="dateControl?.value || ''"
    (input)="dateControl?.setValue($event.target?.value)" -->
<!-- formControlName="length" -->
<!-- (blur)="onTouched()"
    [(ngModel)]="value" -->
<!-- formControlName="length" -->
<!-- (focus)="markAsTouched()" -->
<!-- (ngOnInit)="markAsTouched()" -->
