form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 50px;
  background-color: #fff;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  border-radius: 5px;

  .label-req {
    display: flex;

    label {
      margin-bottom: 10px;
    }
  }

  input,
  textarea {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
  }

  button {
    width: 125px;
    font-size: 8px;
    padding: 10px 10px;
    margin: 30px 10px 70px 0px;
    background-color: rgb(149, 190, 86);
    color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 5px 2px rgba(221, 221, 221, 1);
    cursor: pointer;
  }

  button[disabled] {
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.15);
    border-color: rgba(0, 0, 0, 0.1);
    color: gray;
  }
}
