<app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
<form [formGroup]="courseForm" (ngSubmit)="save()">
  <pre>{{ courseForm.value | json }}</pre>
  <div>
    <!-- <div *ngIf="title.invalid && (title.dirty || title.touched)">
      <div *ngIf="title.errors.required">Title is required.</div>
    </div> -->
    <label htmlFor="title">Title:</label>
    <input
      required
      placeholder="type title..."
      type="text"
      name="title"
      id="title"
      formControlName="name"
      maxlength="50"
    />
  </div>

  <label htmlFor="description"> Description:</label>
  <textarea
    required
    placeholder="type description..."
    name="description"
    id="description"
    minLength="2"
    maxlength="500"
    formControlName="description"
  >
    {{ courseForm.value.description }}
  </textarea>

  <app-duration-input formControlName="length"></app-duration-input>

  <app-date-input formControlName="date"></app-date-input>

  <app-authors-input
    [authorsList]="authorsList"
    [authorsOfCourse]="authorsOfCourse"
    (authorsEvent)="getAuthorsOFCourse($event)"
  ></app-authors-input>

  <div>
    <button type="submit" [disabled]="!courseForm.valid">Save</button>
    <button (click)="cancel()">Cancel</button>
  </div>
</form>
