<app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
<form [formGroup]="courseForm" (ngSubmit)="save()">
  <pre>{{ courseForm.value | json }}</pre>
  <div>
    <div class="label-req">
      <label htmlFor="name">Title:</label>
      <div class="required" *ngIf="isCommonRequired('name')">
        <div *ngIf="courseForm.get('name')?.hasError('required')">
          {{ requiredMsq }}
        </div>
        <div *ngIf="courseForm.get('name')?.hasError('maxlength')">
          * max length:
          {{ courseForm.controls.name.getError('maxlength').requiredLength }}
          characters
        </div>
      </div>
    </div>
    <input
      placeholder="type title..."
      type="text"
      name="name"
      id="name"
      formControlName="name"
    />
  </div>

  <div>
    <div class="label-req">
      <label htmlFor="description"> Description:</label>
      <div class="required" *ngIf="isCommonRequired('description')">
        <div *ngIf="courseForm.get('description')?.hasError('required')">
          {{ requiredMsq }}
        </div>
        <div *ngIf="courseForm.get('description')?.hasError('maxlength')">
          * Max length:
          {{
            courseForm.controls.description.getError('maxlength').requiredLength
          }}
          characters
        </div>
        <div *ngIf="courseForm.get('description')?.hasError('minlength')">
          * Min length:
          {{
            courseForm.controls.description.getError('minlength').requiredLength
          }}
          characters
        </div>
      </div>
    </div>
    <textarea
      placeholder="type description..."
      name="description"
      id="description"
      formControlName="description"
    >
      {{ courseForm.value.description }}
    </textarea>
  </div>

  <div>
    <div class="required" *ngIf="isCommonRequired('length')">
      <div *ngIf="courseForm.get('length')?.hasError('required')">
        {{ requiredMsq }}
      </div>
      <div *ngIf="courseForm.get('length')?.hasError('onlyNums')">
        * only numbers are allowed
      </div>
    </div>
    <app-duration-input formControlName="length"></app-duration-input>
  </div>

  <div>
    <div class="required" *ngIf="isCommonRequired('date')">
      <div *ngIf="courseForm.get('date')?.hasError('required')">
        {{ requiredMsq }}
      </div>
      <div *ngIf="courseForm.get('date')?.hasError('dateValid')">
        * only dd/mm/yyyy format valid
      </div>
    </div>
    <app-date-input formControlName="date"></app-date-input>
  </div>

  <div>
    <div class="required" *ngIf="isCommonRequired('authors')">
      <div *ngIf="courseForm.get('authors')?.hasError('required')">
        {{ requiredMsq }}
      </div>
      <div
        *ngIf="courseForm.get('authors')?.hasError('arrayMinLengthValidator')"
      >
        * should be at least 1 author
      </div>
    </div>
    <app-authors-input
      formArrayName="authors"
      [authorsList]="authorsList"
      (authorsEvent)="getAuthorsOFCourse($event)"
    ></app-authors-input>
  </div>

  <div>
    <button type="submit" [disabled]="!courseForm.valid">Save</button>
    <button (click)="cancel()">Cancel</button>
  </div>
</form>
