header {
  background-color: grey;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 50px;
  align-items: center;
  height: 65px;
}

h4 {
  margin-left: 10px;
}

.logo .img {
  width: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo div {
  display: flex;
  align-items: center;
}

.logo img {
  width: 45px;
}

.logo div:first-child {
  margin-right: 15px;
}

.logo span {
  margin-left: 5px;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
