<header>
  <div class="logo">
    <img src="app/assets/images/logo.png" alt="logo" />
    <h4>{{ title | uppercase }}</h4>
  </div>
  <div class="user-auth" *appIsAuthenticated="isAuth()">
    <div>
      <img
        class="img"
        src="app/assets/images/user-placeholder.png"
        alt="user"
      />
      <span>{{ user.firstName }} {{ user.lastName }}</span>
    </div>

    <button (click)="logout()">
      <img class="img" src="app/assets/images/logout.png" alt="logout" />
      <span>Log off</span>
    </button>
  </div>
</header>
