div {
  position: relative;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 76, 76);

  button {
    margin-left: 20px;
    cursor: pointer;
  }
}
