<div class="main">
  <app-search-bar (searchItems)="searchCourses($event)"></app-search-bar>

  <button class="btn" (click)="onAddCourse()">+ Add courses</button>

  <div *ngIf="isCourses">
    <app-course-card
      *ngFor="let course of coursesToShow; trackBy: identify"
      [course]="course"
      (deleteItem)="deleteCourse($event)"
    >
    </app-course-card>

    <div class="load-more">
      <button class="load-more-btn" (click)="onClickLoadMore()">
        LOAD MORE
      </button>
    </div>
  </div>

  <div *ngIf="!isCourses">
    <div class="load-more">NO DATA. FEEL FREE TO ADD NEW COURSE</div>
  </div>
</div>
