.main {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;

  .btn {
    width: 125px;
    padding: 5px 10px;
    border: none;
    box-shadow: 0 0 5px 2px rgba(221, 221, 221, 1);
    cursor: pointer;
    font-size: 8px;
    margin-left: auto;
    margin-bottom: 20px;
  }

  .load-more {
    display: flex;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    margin: 0px 0px 20px;
    padding: 20px;
    border-radius: 5px;
    font-size: 12px;

    .load-more-btn {
      border: none;
      background-color: transparent;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
