* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(235, 232, 232);
}

.required {
  color: red;
  margin-left: 10px;
}

.ng-touched.ng-invalid:not(form) > #date,
.ng-touched.ng-invalid:not(form) #duration,
.ng-touched.ng-invalid:not(form)#name,
.ng-touched.ng-invalid:not(form)#description {
  border: 2px solid red;
}

.authors.ng-invalid:not(form) .add-author {
  border: 2px solid red;
}

.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
  left: 60px;
}
